.about {
    width: 100%;
    padding: 60px 30px 100px;
    text-align: center;
    color: var(--color-main-hover);
    background-color: var(--bg-main-grey);
}

.about__title {
    font-size: 34px;
    font-weight: 700;
    margin: 0 auto 42px;
}

.about_history-ru, .about-history-en {
    margin: 0 auto 11px;
    max-height: 88px;
    font-size: 18px;
    font-weight: 500;
    max-width: 780px;
    text-align: center;
}

.about_description-ru, .about-description-en {
    margin: 0 auto 15px;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    max-width: 780px;
}

.about-history-en {
    margin: 17px auto 0;
}

.about-description-en {
    margin: 8px auto 100px;
}

@media (max-width: 480px) {

    .about_description-ru, .about-description-en, .about_history-ru, .about-history-en {
        font-size: 14px;
    }

}